.Rproj.user
.Rhistory
.RData
.Ruserdata
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
#targets meta
_targets/
#aggregate_data
split_data/
aggregate_data_recombined.csv
community_strategy_survival_analysis.html
identifying_overlap_between_cohorts.html